<%- include("partials/header") -%>
<div class="container">
  <h1>Player</h1>

  <div class="container-fluid box">
    <h3>Player List</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <% playersList.forEach((player, index)=> { %>
        <tr>
          <td contenteditable="true"><%= index %></td>
          <td><%= player.firstName %></td>
          <td><%= player.lastName %></td>
          <td><%= player.email %></td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
  <a href="/createPlayer" class="btn btn-primary">Add</a>
</div>
<%- include("partials/footer") -%>
